@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');
@import "tailwindcss";
:root {
  /* Game fonts */
  --font-display: 'Orbitron', monospace;
  --font-body: 'Share Tech Mono', sans-serif;
  
  font-family: var(--font-body);
  /* font-family: "Share Tech Mono", monospace; */
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}


/* nay cho dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@apply dark:bg-slate-800/90 dark:text-gray-300;